* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px;
}

body {
    background-color: lightblue;
}
